{
  "singleQuote": true,
  "prettier.eslintIntegration": true,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "arrowParens": "avoid",
  "useTabs": false,
  "tabWidth": 2,
  "semi": true
}
